@import 'vars.css';

.listItem {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  font-size: var(--link-font-size);
  font-weight: 400;
}

.secondText {
  font-size: var(--second-text-size);
}

.dateText {
  @extend .secondText;
  font-weight: 100;
}

.fromVal {
  @extend .secondText;
  color: #8eb5da;
}

.exAmount {
  text-align: right;
}
