.iconWrapper {
  padding: 7px;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  background-color: #3b78e6;
  border: 1px solid #5190f5;
  line-height: 0;
}

.btnText {
  margin-top: 5px;
  font-size: 10px;
  opacity: 0.5;
}
