@import 'vars.css';

.container {
  padding: 10px 20px;
}

.inputRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--input-font-size);

  span {
    text-transform: uppercase;
  }

  input {
    font-size: var(--input-font-size);
    background-color: transparent;
    border: 0;
    text-align: right;
    color: inherit;
    width: 80%;
    outline: 0;
  }
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  > div {
    font-size: var(--second-text-size);
    opacity: 0.6;
  }
}
