@import 'vars.css';

.valueRow, .currencyRow {
  text-align: center;
}

.valueRow {
  font-size: calc(var(--input-font-size) * 1.5);
  margin: 50px 0 30px;
}

.currencyRow {
  font-size: var(--second-text-size);
}
