.sign {
  margin-right: 0.2em;
}

.currency {
  font-size: 0.7em;
  margin-right: 0.1em;
  line-height: 0;
}

.container {
  display: inline-block;
}

.fractional {
  font-size: 0.7em;
  line-height: 0;
}
